*{
    box-sizing: border-box;
    outline: 4px solid red;
}

html{
    height: 100%;
    flex-direction: row ;
}

body{
    margin: 0;
    padding: 0;

    background-color: beige;
    min-height: 100%;
    /* border: 4px solid blue; */
}

img{
    height: 400px;
}

p{
    /* border: 1px solid black; */
    width: 500px;
    border-radius: 5px;
    padding: 10px;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif; /* Sets a default font family for the page */
    font-size: 16px; /* Sets a default font size */
    color: #333; /* Sets a default text color */
    line-height: 1.6;
}

#content{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 5px solid green; */
}